.container-fluid {
  background-color: #efefef;
  display: flex;
  justify-content: space-between;
  height: 113px;
}
.wrapper {
  width: 1003px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {

}
.col {

}
.logo {
  flex: 1;
  margin-right: 90px;
}
.nav {
  flex: 3;
  justify-content: space-between;
}
.nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*line-height: 55px;*/
}
.nav ul li {
  margin: 0 15px;
}
.nav ul li ul li:nth-child(1) {
  margin-top: 30px;
}
.nav ul li ul li {
  margin-bottom: 20px;
}
.nav ul li ul li a:hover {
  /*color: #ffe065;*/
  /*border-left: 5px solid #ffc107;*/
  height: 15px;
  border-left: 5px solid #ffe065;
}
.nav ul li a {
  padding: 47px 0;
}
.nav ul li .dropdown {
  /*display: none;*/
  flex-direction: column;
  border: 2px solid #efefef;
  position: absolute;
  top: 112px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.nav ul li .dropdown:before {
  content: "\A";
  border-style: solid;
  border-width: 0 10px 10px;
  box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: -10px;
}

.nav ul li:nth-child(1):hover .dropdown,
.nav ul li:nth-child(2):hover .dropdown,
.nav ul li:nth-child(3):hover .dropdown,
.nav ul li:nth-child(4):hover .dropdown,
.nav ul li:nth-child(5):hover .dropdown {
  /*display: flex;*/
  visibility: visible;
  opacity: 1;
}
.dropdown li {
  align-self: flex-start;
}
.flex-grow-1 {
  flex: 1 0 auto;
}
ul li .dropdown li a {
  padding:0;
}
ul li .dropdown {
  /*height: 110px;*/
  align-items: center;
  display: flex;
}

.nav ul li:nth-child(5) {
  margin-left: 20px;
  /*width: 40px;*/
  /*height: 40px;*/
}
img {
  /*max-width: 50px;*/
  /*height: auto;*/
}
a {
  color: #112349;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
a:hover {
  text-decoration: none;
}
a.bl .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #112349;
  border: 1px solid #112349;
  border-radius: 50%;
}

/*
  ng-select styles
*/
ng-select {
  width: 200px;
  border:0;
  min-height: 0;
  border-radius: 0;
}
.ng-select.ng-select-single::ng-deep:hover {
  cursor: pointer;
}
.ng-select.ng-select-single::ng-deep .ng-select-container {
  border: 1px solid #112349;
  border-radius: 10px;
  box-shadow: none;
}
.ng-select::ng-deep .ng-select-container .ng-value-container .ng-input>input {
  cursor: pointer;
}

ng-select::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background-color: #fff !important;
  color: #112349 !important;
}

ng-select::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #ffe065;
  color: #112349;
}
ng-select::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option b {
  padding-left: 5px;
}
ng-select::ng-deep .dropdown {
  flex-direction: column;
  border: 2px solid #efefef;
  position: absolute;
  top: 55px;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

ng-select::ng-deep .dropdown:before {
  content: "\A";
  border-style: solid;
  border-width: 0 10px 10px;
  box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: -10px;
}
