<div class="container-fluid">
  <div class="wrapper">
    <div class="logo">
      <a href="/">
        <img src="../../assets/images/eventite_logo.svg" alt="eventite-logo">
      </a>
    </div>
    <div class="nav">
      <ul>
        <li>
          <a href="#">Events</a>
          <ul class="dropdown flex-grow-1">
            <li>
              <a href="#">Events 1</a>
            </li>
            <li>
              <a href="#">Events 2</a>
            </li>
            <li>
              <a href="#">Events 3</a>
            </li>
            <li>
              <a href="#">Events 4</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Settings</a>
          <ul class="dropdown">
            <li>
              <a href="#">Pricing</a>
            </li>
            <li>
              <a href="#">Venues</a>
            </li>
            <li>
              <a href="#">Promoters</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Transactions</a>
          <ul class="dropdown">
            <li>
              <a href="#">Transactions 1</a>
            </li>
            <li>
              <a href="#">Transactions 2</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Reports</a>
          <ul class="dropdown">
            <li>
              <a href="#">Reports 1</a>
            </li>
            <li>
              <a href="#">Reports 2</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="bl">
            <div class="profile">
              BL
            </div>
            <ul class="dropdown">
              <li>
                <a href="#">Logout</a>
              </li>
            </ul>
          </a>
        </li>
      </ul>
      <!--<select name="" id="chose">-->
        <!--<option value="Tao Nightclub">Tao Nightclub</option>-->
        <!--<option value="Roku Bistro">Roku Bistro</option>-->
        <!--<option value="gilt">Gilt Nightclub</option>-->
        <!--<option value="Artisan Nightclub">Artisan Nightclub</option>-->
        <!--<option value="Fremont Social Club">Fremont Social Club</option>-->
      <!--</select>-->

      <ng-select [items]="clubs"
                 bindLabel="name"
                 bindValue="name"
                 placeholder="Select club"
                 [clearable]="false"
                 [(ngModel)]="selectedClubName"
                 class="dropdown">
        <ng-template ng-label-tmp let-item="item">
          <img height="22" width="40" [src]="item.avatar"/>
          <b style="padding-left: 5px;">{{item.name}}</b>
        </ng-template>

        <ng-template ng-option-tmp let-item="item" let-index="index">
          <img height="22" width="40" [src]="item.avatar"/>
          <b>{{item.name}}</b>
        </ng-template>
      </ng-select>

    </div>
  </div>
</div>
