<app-nav></app-nav>

<div class="container">
  <p>testing data</p>
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus consequatur cum dolorem eaque esse eveniet,
    exercitationem, fuga in ipsa itaque nam natus porro quas quis rerum suscipit tempora temporibus unde vel vero
    vitae voluptate voluptatibus. Magni, perspiciatis temporibus. Cum distinctio est nam nulla rerum. Alias nobis, sed?
    Ipsum, quaerat.</p>
</div>

<app-footer></app-footer>

